@font-face{
 font-family:"digital-clock-font";
 src: url("/assets/fonts/digital-7.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
    user-select: none;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0 auto;     
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(90deg, rgb(43, 42, 42) 0%, #1b1b1b 25%, #1b1b1b 50%, #1b1b1b 75%, rgb(43, 42, 42) 100%);  
}



.game-container
{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 100%;
    display: flex;
    justify-content: center;    
    flex-wrap: nowrap;
    flex-direction: column;    
}

.wrapper
{    
    height: 60px;    
    margin: 5px;    
    border-radius: 10px;  
    box-shadow: 0 0 5px 3px black,
                0 8px 10px 0px rgba(0, 0, 0, 0.7);     
}

.top-section,
.bottom-setcion,
.liner-metal
{
    background-image: repeating-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 7.5%),
    repeating-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0.03) 4.5%),
    repeating-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, 0.15) 2.2%), linear-gradient(180deg, rgb(199, 199, 199) 0%, rgb(230, 230, 230) 47%, rgb(199, 199, 199) 53%, rgb(179, 179, 179) 100%);    
}

.slider
{
    position: absolute;    
    background-color: rgba(12, 12, 12, 0.8);    
    height: 100vh;
    z-index: 1;
}

#left-slider
{
    top: 0;
    left: -25%;
    width: 20%;
    transition: 0.5s;
}

#left-slider.show-left
{
    left: -20%;
    transition: 0.5s;
}

#left-slider.open-left
{
    left: 0%;
    transition: 0.5s;
}

#right-slider
{
    top: 0;
    right: -25%;
    width: 20%;
    transition: 0.5s;
}

#tip-display
{
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 80%;
    height: 20%;
    border-radius: 25px;
    transform: translateX(-50%);
    box-shadow: 0 0 8px 3px rgba(15, 15, 15, 1), 
                0 0 0 2px #000,
                0 0 0 5px #313131,
                0 0 0 7px #080808;
}

#right-slider.show-right
{
    right: -20%;
    transition: 0.5s;
}

#right-slider.open-right
{
    right: 0%;
    transition: 0.5s;
}

#tip-display
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    color: rgba(194, 47, 47, 0.1);  
    text-shadow: 0 0 2px rgba(255, 255, 0, 0.5),
                 0 0 15px rgba(150, 218, 23, 0.685);      
}

#emojis
{
    color: white;
}

.trigger
{
    position: absolute;
    height: 250px;
    width: 50px;
    background-color: rgba(92, 90, 90, 0.5);   
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    display: block;
    top: 50%;
    overflow: hidden;
    transform: translateY(-50%);    
}

.trigger span
{
    font-size: 1em;
    font-weight: bold;
    color: yellow;
    cursor: pointer;
    transition: 0.5s;
}

.trigger:hover span
{
    letter-spacing: 8px;    
}

.trigger span::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 150%;
    width: 100%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.25), transparent );
    transform: skewY(45deg) translateY(-65%);
    transition: 0.5s;
}

.trigger:hover span::before
{
    transform: skewY(45deg) translateY(0%);    
}

#trigger-left
{
    left: 100%;    
    padding-right: 20px;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}

#trigger-right
{
    right: 100%;    
    padding-right: 10px;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
}

#trigger-right span::before
{
    transform: skewY(-45deg) translateY(-65%);
}

#trigger-right:hover span::before
{
    transform: skewY(-45deg) translateY(0%);
}

.bowl
{   
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 220px;
    height: 220px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    border: solid 4px #fff;
    transform-origin: bottom center;
    cursor: pointer;    
}

.bowl.gone
{
    display: none;
}

.bowl::before
{
    content: " ";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 25px;
    background-color: rgba(66, 66, 66, 1);
    border-radius: 50%;
    border: solid 4px #fff;
    
}

.bowl::after
{
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
}

.dragging
{
    display: none;
}

.water
{
    position: absolute;
    top: 50%;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background-color: rgb(94, 102, 146);
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    transform-origin: bottom center;    
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: top center;
    transform: rotateZ(0deg);
    
}

.water::before
{
    content: "";
    position: absolute;
    top: -9px;
    left: 0;
    width: 100%;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(58, 71, 145);
    
}

#fish
{
    background-image: url("/assets/images/gold-fish.png");    
    width: 80px;
    height: 80px;
    background-size: 80px;
    background-repeat: no-repeat;  
    animation: swimming-fish 5s linear infinite;
}

.bowl-shadow
{
    position: absolute;
    top: calc(50% + 100px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    border-radius: 50%;
}

.top-section.wrapper
{
    position: relative;
    height: 200px;
}

.output{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;   
    height: 80px;
    padding: 20px;
    border-radius: 20px;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0c0c;  
    box-shadow: inset 0 0 2px 3px rgb(15, 15, 15),
                0 0 0 2px #000,
                0 0 0 5px #313131,
                0 0 0 7px #080808,
                0 0 3px 10px #131212,
                0 40px 20px 10px rgba(0, 0, 0, 0.5);              
}

#led-display
{
    position: absolute;    
    height: 100%;
    width: 100%;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;    
}

.led-dot
{   
    height: 25%;     
    border: rgba(36, 35, 35, 0.2) solid 1px;
    overflow: hidden; 
    z-index: -10;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.dot{

    background-color: rgba(36, 35, 35, 0.2);    
    width: 5px;
    height: 5px;
    border-radius: 50%;    
}

.dot.dot-welcome
{
       
    width: 6px;
    height: 6px;
    border-radius: 50%;
    box-shadow:
    inset 0 0 5px #d9ff00c2,
    inset 2px 0 8px #00ff0a,
    inset -2px 0 8px #d9ff00c2,
    inset 2px 0 30px #00ff0a,
    inset -2px 0 30px #d9ff00c2,
    0 0 5px #d9ff00c2,
    -1px 0 8px #00ff0a,
    1px 0 8px #d9ff00c2;
}

/*  MIDDLE SECTION */

.middle-section.wrapper{
    perspective: 3500px;
    flex-grow: 8;
    background-color: #1b1b1b;
    width: 790px;
    height: 100%;    
    position: relative;
    background-image: linear-gradient( rgb(48, 46, 46), rgb(15, 15, 15));            
}

.front-frame
{
    top: 20px;
    left: 20px;
    bottom: 60px;
    right: 20px;
    position: absolute;
    border-radius: 30px;
    background-color: rgb(26, 25, 25);
    box-shadow: 0 0 5px 8px rgba(12, 12, 12, 0.6);
    overflow: hidden;
}

.frame-wall
{
    width: 100%;
    height: 100%;
    background-image: linear-gradient( rgb(48, 46, 46), rgb(15, 15, 15));    
}

.rubber-seal
{
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    border-radius: 30px;    
    border-top: solid black 10px;
    border-right: solid black 10px;
    border-bottom: solid black 10px;
    border-left: solid black 10px;
    box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;   
}

.internal-box
{    
    transform-style: preserve-3d;    
    width: 100%;
    height: 100%;
    perspective: 1000px;
    transform-origin: top;
}

.oven-wall
{   
    top: 0;
    left: 0;        
    width: 100%;
    height: 100%;    
    position: absolute;
    transform-origin: center;
}

.oven-back
{
    background-image: linear-gradient( rgb(0, 0, 0), rgb(0, 0, 0)); 
    transform: translateZ(-226px);        
}

.oven-top
{
    background-image: linear-gradient( rgb(0, 0, 0), rgb(0, 0, 0)); 
    transform: translateY(-50%) rotateX(90deg);          
}

.oven-right
{
    background-image: linear-gradient( rgb(0, 0, 0), rgb(0, 0, 0)); 
    transform: translateX(50%) rotateY(90deg);             
}

.oven-left
{
    background-image: linear-gradient( rgb(0, 0, 0), rgb(0, 0, 0)); 
    transform: translateX(-50%) rotateY(90deg);             
}

.oven-bottom
{
    background-image: linear-gradient( rgb(0, 0, 0), rgb(0, 0, 0)); 
    transform: translateY(50%) rotateX(90deg);            
}

.oven-front
{
    background: repeating-linear-gradient(rgb(65, 63, 63), black 15px, rgb(49, 48, 48) 30px);
    transform: translateY(30%) rotateX(90deg);
}

.oven-front.pwrr
{
    background: repeating-linear-gradient(rgb(255, 254, 254), rgb(46, 45, 45) 15px, rgb(255, 255, 255) 30px);
    transform: translateY(30%) rotateX(90deg);
}

.oven-top.prwed2
{
    background-image: linear-gradient( rgb(48, 46, 46), rgb(15, 15, 15));
    box-shadow: inset 0 0 554px rgba(217, 255, 0, 0.315),
                inset 20px 0 181px #00ff0a,
                inset -20px 0 181px #d9ff00c2,
                inset 20px 0 40px #00ff0a,
                inset -20px 0 40px #d9ff00c2,
                inset 0 0 150px #d9ff001a,
                inset -20px 0 18px #00ff0a,
                inset 20px 0 18px #d9ff00c2;   
}

.oven-left.prwed,
.oven-right.prwed,
.oven-back.prwed
{
    background-image: linear-gradient( rgb(29, 28, 28), rgb(15, 15, 15));  
    box-shadow: inset 0 0 20px 0 rgba(217, 255, 0, 0.315),
                inset 0 0 40px 0 #00ff0a,
                inset 0 0 60px 0 #00ff0a,
                inset 0 0 120px 0 #00ff0a;
}

.oven-center
{
    transform: translateZ(-50px) translateY(-20%);
}

#avatar
{
    position: absolute;
    border-radius: 50%;    
    top: 100%;
    left: 50%;    
    transform: translate(-50%, -100%);
    width: 240px;
    height: 240px;
    opacity: 1;  
    transition: opacity 1s;
}

#avatar.activated
{
    position: absolute;
    opacity: 0.5;    
    transform: translate(-50%, -100%);
    box-shadow: 0 0 55px rgba(217, 255, 0, 0.315),
                 2px 0 18px #00ff0a,
                 -2px 0 18px #d9ff00c2,
                2px 0 10px #00ff0a,
                -2px 0 10px #d9ff00c2,
                inset 0 0 10px #d9ff001a,
                inset -10px 0 18px #00ff0a,
                inset 10px 0 18px #d9ff00c2;
    filter: url(#fire); 
    transition: 0.5s;      
}

#avatar.activated.over
{
    opacity: 0.2;
    width: 280px;
    height: 280px; 
}

.cooker-door-cover
{
    position: absolute;
    transform-style: preserve-3d;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%; 
    animation-duration: 5s;
    animation-fill-mode: forwards;
    transform-origin: bottom;
    transform: rotateX(-1deg);   
    z-index: 2;
}

.cooker-door
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    border: 2px black solid;
}

.front-cooker-door
{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.cooker-door-element
{
    border: 2px solid black;
    width: 100%;
}

.flat-metal
{
     background-image: repeating-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 7.5%),
    repeating-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0.03) 4.5%),
    repeating-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, 0.15) 2.2%), linear-gradient(180deg, rgb(199, 199, 199) 0%, rgb(199, 199, 199) 47%, rgb(199, 199, 199) 53%, rgb(179, 179, 179) 100%);  
}

#door-handle
{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.bracket
{
    width: 100px;
    height: 40px;    
    position: relative;     
}

.bracket-wall
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: bottom;   
}

.brc-top
{
    transform: translateY(-100%) rotateX(-90deg);   
    border-bottom: 50px solid rgb(48, 46, 46);    
    border-left: 50px solid transparent;
    background-image: ;   
}

.brc-bottom
{
    transform: translateY(-10px) rotateX(-90deg) ;
    border-bottom: 50px solid rgb(48, 46, 46);   
    border-left: 50px solid transparent;
}

.brc-left
{
    transform: translateX(0%) rotateY(-45deg) ;
    transform-origin: left;
    background-image: linear-gradient( rgb(48, 46, 46), rgb(15, 15, 15)); 
    width: 70%;
}

.brc-right
{
    background-image: linear-gradient( rgb(48, 46, 46), rgb(15, 15, 15)); 
    transform: translateX(74px) translateZ(25px) rotateY(270deg);    
    width: 50px;
}

.brc-front
{
    background-image: linear-gradient( rgb(48, 46, 46), rgb(15, 15, 15)); 
    transform: translateZ(50px) translateX(50px);
    width: 50px;    
}


.brc-top-right
{
    transform: translateY(-100%) rotateX(-90deg);   
    border-bottom: 50px solid rgb(48, 46, 46);     
    border-right: 50px solid transparent;  
}

.brc-bottom-right
{
    transform: translateY(-10px) rotateX(-90deg) ;
    border-bottom: 50px solid rgb(48, 46, 46);    
    border-right: 50px solid transparent;
}

.brc-right-right
{
    transform: translateZ(50px) translateX(50px) rotateY(45deg) ;
    transform-origin: left;
    background-image: linear-gradient( rgb(48, 46, 46), rgb(15, 15, 15)); 
    width: 70%;
}

.brc-left-right
{
    background-image: linear-gradient( rgb(48, 46, 46), rgb(15, 15, 15)); 
    transform: translateX(-26px) translateZ(25px) rotateY(270deg);    
    width: 50px;
}

.brc-front-right
{
    background-image: linear-gradient( rgb(48, 46, 46), rgb(15, 15, 15)); 
    transform: translateZ(50px) ;
    width: 50px; 
}

.handle-wall
{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 100%;
    transform-origin: bottom;
    background-color: black;    
}

.handle-top
{
    transform: rotateX(90deg) translateY(40px);
}

.handle-bottom
{
    transform: rotateX(90deg) translateY(40px) translateZ(20px);
}

.handle-front
{
    transform: translateZ(20px);
}

.handle-back
{
    transform: translateZ(40px);
}

.handle
{
    width: 50%;
    height: 25%;
    position: relative;     
}

#window
{
    flex-grow: 8;
    position: relative;
    border-top: 30px solid;
    border-bottom: 30px solid;
    border-left: 70px solid;
    border-right: 70px solid;
    overflow: hidden;
}

#shadow
{
    position: absolute;
    top: 0;
    left: 120%;
    height: 100%;
    width: 600%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.25), transparent );
    transform: skewX(45deg) translateX(0%);
}

#bottom-cover
{
    height: 20%;
}

.top-cooker-door
{
    height: 50px;
    transform: translateY(-50%) translateZ(-25px) rotateX(90deg);
    background-color: black;    
}

.window-frame
{    
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    transform-origin: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.window-frame.actv
{
    background-color: rgba(0, 0, 0, 0.1);
}

.window-frame.actv.smoke
{
    background-color: yellow;
}


.stiffener
{
   width: 100%;
   height: 100%;
   position: absolute;
   background-color: chartreuse;
}

.window-left
{
    transform: rotateY(90deg) translateX(25px);
    width: 50px;
    left: -4%;
}

.window-right
{
    transform: rotateY(90deg) translateX(25px);
    width: 50px;
    right: -4%;
}

.window-top
{
    transform: rotateX(90deg) translateY(-25px);
    top: -6%;
    height: 50px;
}

.window-bottom
{
    transform: rotateX(90deg) translateY(-25px);
    bottom: -6%;
    height: 50px;
}

#smoke.hide-smoke
{
    display: none;
    transition: 0.5s;
}

#smoke
{
    height: 110%;
    width: 100%;
    border: 2px sienna solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

#smoke > span
{    
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #807b7b;
    display: block;    
}

#blood
{
    position: absolute;
    background-image: url("/assets/images/blood.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;      
    transform:scale(0);
    animation: animateBlood 0.2s linear forwards;
    
}

#blood.hidden
{
    display: none;
}

#win-message.win-act
{
    position: absolute;
    width: 30%;
    height: 20%;
    margin: 10px;
    top: 25%;
    border-radius: 10px;
    background-color: white;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
    animation: animateWinMessage 4s linear forwards;
}

#win-message::before
{
    content: "";
    position: absolute;
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    right: -30px;
    bottom: -30px;
    animation-delay: 0.5s;
}

#win-message::after
{
    content: "";
    position: absolute;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    right: -60px;
    bottom: -60px;
    animation-delay: 0.5s;
}


/*  BOTTOM SECTION */

.bottom-setcion.wrapper
{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.bttm-section
{
    height: 65%;
    width: 25%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.mid-section
{
    flex-grow: 8;
}

#display-bttm.output
{
    background-color: #0c0c0c ;
    width: 90%;
    height: 90%;   
    border-radius: 10px;    
    box-shadow: inset 0 0 2px 3px rgb(15, 15, 15),
                0 0 0 2px #000,
                0 0 0 5px #313131,
                0 0 0 7px #080808,
                0 0 3px 10px #131212,
                0 40px 20px 10px rgba(0, 0, 0, 0.5);    
}

#display-bttm
{
    padding: 0;
    display: flex;    
    justify-content: flex-start;
    align-items: stretch;
}

.disp-sufler
{        
    font-family:"digital-clock-font";
    color: rgba(194, 47, 47, 0.1);  
    display: flex;
    justify-content: center;
    align-items: center;    
}

.disp-sufler.power-on
{        
    color: rgba(194, 47, 47, 0.1);  
    text-shadow: 0 0 2px rgba(255, 255, 0, 0.5),
                 0 0 15px rgba(150, 218, 23, 0.685);      
}

#message-output
{
    flex-grow: 8;
    font-size: 2em;
}

#info-output
{
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: stretch;
    justify-content: center;    
}

.disp-info
{
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 50%;
    font-size: 1.5em;
}

#clock
{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.timer-element
{
    text-align: center;
}

#dot-separator
{
    width: 5px;
}

.hide-dot
{
    color: rgba(0, 0, 0, 0);
}

.knob
{    
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: repeating-radial-gradient(circle, transparent 0px, transparent 2%, rgba(77, 76, 76, 0.2) 4%),
    repeating-conic-gradient(from 0deg, transparent 0deg 30deg,  rgba(255, 255, 255, 0.2) 30deg 60deg, rgba(252, 247, 247, 0.2) 60deg 90deg);    
    cursor: pointer;
    transform: rotate(0deg);
       
}

.heat-knob
{
    transform: rotate(0deg);
    transition: 0.8s; 
}

.knob-shadow
{
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;   
    box-shadow: 0px 0px 0px 0px rgba(23, 23, 23, 0.9),
                0 0 10px 1px rgba(15, 15, 15, 0.9),
                0 0 2px 3px rgb(15, 15, 15),                
                inset rgba(38, 38, 38, 0.8) 0 -1px 5px 2px,
                inset rgba(0, 0, 0, 0) 0 0 0px 0,
                inset rgba(255, 255, 255, 0.7) 0  2px 1px 3px, 
                rgba(0, 0, 0, 0.15) 0 -2px 2px 2px,
                rgba(255, 255, 255, 0.5) 0  2px 2px 2px;
    transition: box-shadow 0.5s;   
}

.knob-shadow.unpressed
{
    box-shadow: 0px 20px 10px 0px rgba(23, 23, 23, 0.9),
                0 0 10px 8px rgba(15, 15, 15, 0.9),
                0 0 2px 3px rgb(15, 15, 15),                
                inset rgba(38, 38, 38, 0.8) 0 -1px 2px 2px,
                inset rgba(0, 0, 0, 0.25) 0 -1px 0px 3px,
                inset rgba(255, 255, 255, 0.7) 0  2px 1px 3px, 
                rgba(0, 0, 0, 0.15) 0 -2px 2px 2px,
                rgba(255, 255, 255, 0.5) 0  2px 2px 2px;
    transition: box-shadow 0.5s;   
}

.knob-indicator
{   
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.8);
    border: 1px black solid;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5),
               inset 0 0 1px 2px rgba(0, 0, 0, 0.5);
}

.knob-indicator.pwr-on
{   
    background: yellow;
    box-shadow: 0 4px 30px rgba(255, 255, 0, 0.5),
                 0 -5px 40px rgba(150, 218, 23, 0.685); 
}

.knob-label span
{
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;       
    color: #0c0c0c;    
    font-weight: bold;
    letter-spacing: 2px;    
}

.knob-label span.power-on
{
    color: rgb(148, 111, 56);  
    text-shadow: 0 0 15px rgba(255, 255, 0, 0.5),
                 0 0 35px rgba(150, 218, 23, 0.685); 
}

#off-label
{
    transform: translate(-82px, -50%)
}

#on-label
{
    transform: translate(50px, -50%)
}

#heat-label
{    
    width: 100%;
    height: 140%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.heat-dot
{
    width: 8px;
    height: 8px;
    position: absolute;       
    border-radius: 50%;
    background-color: rgb(29, 27, 27);
    border: 1px solid black;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5),
                inset 0 0 1px 1px rgba(14, 13, 13, 0.5);
    transition: 0.25s;
}

.heat-dot.running
{
    background-color: #00ff0a;
    box-shadow: inset 0 0 5px #d9ff00c2,
                inset 2px 0 8px #00ff0a,
                inset -2px 0 8px #d9ff00c2,
                inset 2px 0 30px #00ff0a,
                inset -2px 0 30px #d9ff00c2,
                0 0 5px #d9ff00c2,
                -1px 0 8px #00ff0a,
                1px 0 8px #d9ff00c2;
}

.heat-dot.set1
{
    background-color: #ff00ea;
    box-shadow: inset 0 0 5px #ff00ea,
                inset 2px 0 8px #ff00ea,
                inset -2px 0 8px #ff00ea,
                inset 2px 0 30px #ff00ea,
                inset -2px 0 30px #ff00ea,
                0 0 5px #ff00ea,
                -1px 0 8px #ff00ea,
                1px 0 8px #ff00ea;
    
}

.heat-dot.set2
{
    background-color: #006eff;
    box-shadow: inset 0 0 5px #006eff,
                inset 2px 0 8px #006eff,
                inset -2px 0 8px #006eff,
                inset 2px 0 30px #006eff,
                inset -2px 0 30px #006eff,
                0 0 5px #006eff,
                -1px 0 8px #006eff,
                1px 0 8px #006eff;
}


.heat-dot.set3
{
    background-color: #15ff00;
    box-shadow: inset 0 0 5px #00ff0d,
                inset 2px 0 8px #00ff0d,
                inset -2px 0 8px #00ff0d,
                inset 2px 0 30px #00ff0d,
                inset -2px 0 30px #00ff0d,
                0 0 5px #00ff0d,
                -1px 0 8px #00ff0d,
                1px 0 8px #00ff0d;
}

.heat-dot.set4
{
    background-color: #ff9100;
    box-shadow: inset 0 0 5px #ff9100,
                inset 2px 0 8px #ff9100,
                inset -2px 0 8px #ff9100,
                inset 2px 0 30px #ff9100,
                inset -2px 0 30px #ff9100,
                0 0 5px #ff9100,
                -1px 0 8px #ff9100,
                1px 0 8px #ff9100;
}

.heat-dot.set5
{
    background-color: #ff4800;
    box-shadow: inset 0 0 5px #ff0000,
                inset 2px 0 8px #ff0000,
                inset -2px 0 8px #ff0000,
                inset 2px 0 30px #ff0000,
                inset -2px 0 30px #ff0000,
                0 0 5px #ff0000,
                -1px 0 8px #ff0000,
                1px 0 8px #ff0000;
}

.heat-dot.set6
{
    background-color: #ff0000;
    box-shadow: inset 0 0 5px #ff0000,
                inset 2px 0 8px #ff0000,
                inset -2px 0 8px #ff0000,
                inset 2px 0 30px #ff0000,
                inset -2px 0 30px #ff0000,
                0 0 5px #ff0000,
                -1px 0 8px #ff0000,
                1px 0 8px #ff0000;
}

#input{
    width: 80%;
    height: 60%;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, 0);    
    display: flex;
    flex-wrap: wrap;   
    justify-content: center;
    align-items: stretch;   
}


/*  INPUT - BUTTONS */
.button{    
    font-size: 1.5em;
    color: #0c0c0c;    
    height: 7%;
    width: 20%;
    outline: none;    
    margin: 0 5%;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #1b1b1b;
    box-shadow: 0 8px 3px rgba(15, 15, 15, 1),
                inset 0 -2px 5px rgba(0, 0, 0, 1),
                inset 0 2px 2px rgba(255, 255, 255, 0.5),
                0 0 0 2px #000,
                0 0 0 5px #313131,
                0 0 0 7px #080808;
    transition: 0.8s;
}

.button.active{
    color: rgb(148, 111, 56); 

     
    text-shadow: 0 0 15px rgba(255, 255, 0, 0.5),
                 0 0 35px rgba(150, 218, 23, 0.685);    
    box-shadow: inset 0  2px 5px rgba(0, 0, 0, 0.5),
                inset 0 -2px 5px rgba(0, 0, 0, 0.5),
                inset -2px 0 5px rgba(0, 0, 0, 0.5),
                inset 2px 0 5px rgba(0, 0, 0, 0.5),                
                0 0 2px 2px #000,
                inset 0 0 0 1px #000,
                0 0 0 5px #313131,
                 0 0 0 7px rgba(15, 180, 29, 0.685),
                 0 0 15px 8px rgba(23, 218, 39, 0.685);
}

/* OUTPUT CUBE */
.wall-text
{    
    position: absolute;
    top: 50%;
    left: 50%;   
    transform: translate(-50%, -50%);    
    text-align: center;    
    font-size: 2em;
    font-weight: bold;
    color: rgb(148, 111, 56);  
    text-shadow: 0 0 15px rgba(255, 255, 0, 0.5),
                 0 0 35px rgba(150, 218, 23, 0.685);
    text-transform: uppercase;
}

.question-mark
{
    color: #0c0c0c; 
    text-shadow: 0 0 0px rgba(255, 255, 0, 0),
                 0 0 0px rgba(150, 218, 23, 0)
}

.question-mark.qmark-active
{
    
    color: rgb(148, 111, 56);  
    text-shadow: 0 0 15px rgba(255, 255, 0, 0.5),
                 0 0 35px rgba(150, 218, 23, 0.685);
    transition: text-shadow 1s , color 0.5s;
}

.cube
{    
    transform-style: preserve-3d;
    width: 40px;
    height: 40px;    
    margin-left: 4px;
    margin-right: 4px;   
}

.cube.rotate-cube
{
    animation-name: rotate-cube;
    animation-duration: 1s;
    animation-fill-mode: forwards;    
}

.wall, .inside-wall
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wall
{
    background: #313131;
     box-shadow:inset 0 0 0px 3px #000000,
                inset 0 0 4px 5px #1a1919;
    border-radius: 25px;        
}

.inside-wall
{
    position: absolute;    
    box-shadow: none;
    background: #1f1e1e;   
}

.wall-front
{     
    transform: translateZ(20px);    
}

.front-inner
{
    transform: translateZ(19px);  
}

.wall-back
{
    transform: translateZ(-20px) rotateZ(-90deg) rotateY(180deg); 
}

.back-inner
{
    transform: translateZ(-19px); 
}

.wall-right
{
    transform: translateX(20px) rotateY(90deg);   
}

.right-inner
{
    transform: translateX(19px) rotateY(90deg);
}

.wall-left
{
    transform: translateX(-20px) rotateY(90deg);  
}

.left-inner
{
    transform: translateX(-19px) rotateY(90deg);
}

.wall-top
{
    transform: translateY(20px) rotateX(90deg);  
}

.top-inner
{
    transform: translateY(19px) rotateX(90deg); 
}

.wall-bottom
{
    transform: translateY(-20px) rotateX(90deg);   
}

.bottom-inner
{
    transform: translateY(-19px) rotateX(90deg); 
}

.inside-wall.x
{
   transform: rotateY(90deg); 
}

.inside-wall.y
{
   transform: rotateX(90deg); 
}

.inside-wall.z
{
   transform: rotateY(0); 
}

.light-on
{
    color: rgb(230, 150, 30);  
    text-shadow: 0 0 15px rgba(255, 255, 0, 0.5),
                 0 0 35px rgba(150, 218, 23, 0.685);
}

/* ANIMATIONS */

@keyframes rotate-cube
{
    0%{
        transform: rotate3d(0,0,0,0deg);
    }

    100%{
        transform: rotate3d(1,1,0,180deg);
    }
}

@keyframes lights-on
{
    0%{
        transform: rotate3d(0,0,0,0deg);
    }

    100%{
        transform: rotate3d(1,1,0,180deg);
    }
}

@keyframes bowl-animation-step1
{
    0%{
        transform: translate(-50%, -50%) rotate(0deg);;
    }

    25%{
        transform: translate(-50%, -50%) rotate(-25deg);;
    }

    50%{
        transform: translate(-50%, -50%) rotate(0deg);;
    }

    75%{
        transform: translate(-50%, -50%) rotate(25deg);;
    }


    100%{
        transform: translate(-50%, -50%) rotate(0deg);;
    }
}

@keyframes water-animation-step1
{
    0%{
        transform: rotateZ(0deg);;
    }

    25%{
        transform: rotateZ(25deg);;
    }

    50%{
        transform: rotateZ(0deg);;
    }

    75%{
        transform: rotateZ(-25deg);;
    }


    100%{
        transform: rotateZ(0deg);;
    }
}

@keyframes swimming-fish
{
    0%
    {
        transform: translate(0, 0) rotateY(0deg);
    }
      

    24%
    {
        transform: translate(-55px, 0) rotateY(0deg);
    }

    25%
    {
        transform: translate(-55px, 0) rotateY(180deg);
    }

    75%
    {
        transform: translate(55px, 0) rotateY(180deg);
    }

    76%
    {
        transform: translate(55px, 0) rotateY(0deg);
    }

    100%
    {
        transform: translate(0, 0) rotateY(0deg);
    }   
}

@keyframes animateEven
{
    0%
    {
        transform: translate(0,0) scale(1);
        opacity: 1;
        filter: blur(5px);
    }

    100%
    {
        transform: translate(100px, -600px) scale(10);
        opacity: 1;
        filter: blur(10px);
    }
}

@keyframes animateOdd
{
    0%
    {
        transform: translate(0,0) scale(1);
        opacity: 1;
        filter: blur(5px);
    }

    100%
    {
        transform: translate(-100px, -600px) scale(10);
        opacity: 1;
        filter: blur(10px);
    }
}

@keyframes animateBlood
{
    0%
    {
        transform: scale(0);
        opacity: 0;
    }

    100%
    {
        transform: scale(1.5);
        opacity: 1;
    }
}
@keyframes animateWinMessage
{
     0%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }
}

