*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0 auto;
    background-color: #1b1b1b;    
    font-family: 'Roboto', sans-serif;
  
}

.game-container
{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 720px;
    height: 100%;
    display: flex;
    justify-content: center;    
    flex-wrap: nowrap;
    flex-direction: column;    
}

.wrapper
{    
    height: 60px;    
    margin: 5px;    
    border-radius: 10px;  
    box-shadow: 0 0 5px 3px black,
                0 8px 10px 0px rgba(0, 0, 0, 0.7);     
}

.top-section,
.bottom-setcion,
.liner-metal
{
    background-image: repeating-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 7.5%),
    repeating-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0.03) 4.5%),
    repeating-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, 0.15) 2.2%), linear-gradient(180deg, rgb(199, 199, 199) 0%, rgb(230, 230, 230) 47%, rgb(199, 199, 199) 53%, rgb(179, 179, 179) 100%);    
}

/*  TOP SECTION */

.top-section.wrapper
{
    position: relative;
    height: 150px;
}

.output{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;   
    height: 60px;
    padding: 20px;
    border-radius: 20px;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0c0c;  
    box-shadow: inset 0 0 2px 3px rgb(15, 15, 15),
                0 0 0 2px #000,
                0 0 0 5px #313131,
                0 0 0 7px #080808,
                0 0 3px 10px #131212,
                0 40px 20px 10px rgba(0, 0, 0, 0.5);              
}

#led-display
{
    position: absolute;    
    height: 100%;
    width: 100%;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;    
}

.led-dot
{   
    height: 25%;     
    border: rgba(36, 35, 35, 0.2) solid 1px;
    overflow: hidden; 
    z-index: -10;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.dot{

    background-color: rgba(36, 35, 35, 0.2);    
    width: 5px;
    height: 5px;
    border-radius: 50%;    
}

/*  MIDDLE SECTION */

.middle-section.wrapper{
    perspective: 3500px;
    flex-grow: 8;
    background-color: #1b1b1b;
    width: 710px;
    height: 100%;    
    position: relative;
    background-image: linear-gradient( rgb(48, 46, 46), rgb(15, 15, 15));            
}

.front-frame
{
    top: 20px;
    left: 20px;
    bottom: 60px;
    right: 20px;
    position: absolute;
    border-radius: 30px;
    background-color: rgb(26, 25, 25);
    box-shadow: 0 0 5px 8px rgba(12, 12, 12, 0.6);
    overflow: hidden;
}

.frame-wall
{
    width: 100%;
    height: 100%;
    background-image: linear-gradient( rgb(48, 46, 46), rgb(15, 15, 15));    
}

.rubber-seal
{
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    border-radius: 30px;    
    border-top: solid black 10px;
    border-right: solid black 10px;
    border-bottom: solid black 10px;
    border-left: solid black 10px;
    box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;   
}

.internal-box
{    
    transform-style: preserve-3d;    
    width: 100%;
    height: 100%;
    perspective: 1000px;
    transform-origin: top;
}

.oven-wall
{   
    top: 0;
    left: 0;        
    width: 100%;
    height: 100%;    
    position: absolute;
    transform-origin: center;
}

.oven-back
{
    background-image: linear-gradient( rgb(0, 0, 0), rgb(0, 0, 0)); 
    transform: translateZ(-226px);        
}

.oven-top
{
    background-image: linear-gradient( rgb(0, 0, 0), rgb(0, 0, 0)); 
    transform: translateY(-50%) rotateX(90deg);          
}

.oven-right
{
    background-image: linear-gradient( rgb(0, 0, 0), rgb(0, 0, 0)); 
    transform: translateX(50%) rotateY(90deg);             
}

.oven-left
{
    background-image: linear-gradient( rgb(0, 0, 0), rgb(0, 0, 0)); 
    transform: translateX(-50%) rotateY(90deg);             
}

.oven-bottom
{
    background-image: linear-gradient( rgb(0, 0, 0), rgb(0, 0, 0)); 
    transform: translateY(50%) rotateX(90deg);            
}

.oven-front
{
    background: repeating-linear-gradient(white, black 15px, white 30px);
    transform: translateY(30%) rotateX(90deg);
}

.cooker-door-cover
{
    position: absolute;
    transform-style: preserve-3d;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;    
    animation-name: rotate-door;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    transform-origin: bottom;    
    z-index: 2;
}

.cooker-door
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    border: 2px black solid;

}

.front-cooker-door
{
    display: flex;
    flex-direction: column;
}

.cooker-door-element
{
    border: 2px solid black;
    width: 100%;
}

.flat-metal
{
     background-image: repeating-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 7.5%),
    repeating-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0.03) 4.5%),
    repeating-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, 0.15) 2.2%), linear-gradient(180deg, rgb(199, 199, 199) 0%, rgb(199, 199, 199) 47%, rgb(199, 199, 199) 53%, rgb(179, 179, 179) 100%);  
}

#door-handle
{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.bracket
{
    width: 100px;
    height: 40px;
    background-color: yellow;
    position: relative;     
}

.bracket-wall
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: bottom;   
}

.brc-top
{
    transform: translateY(-100%) rotateX(-90deg);   
    border-bottom: 50px solid chartreuse;    
    border-left: 50px solid transparent;    
}

.brc-bottom
{
    transform: translateY(-10px) rotateX(-90deg) ;
    border-bottom: 50px solid chartreuse;    
    border-left: 50px solid transparent;
}

.brc-left
{
    transform: translateX(0%) rotateY(-45deg) ;
    transform-origin: left;
    background-color: chartreuse;
    width: 70%;
}

.brc-right
{
    background-color: chartreuse;
    transform: translateX(74px) translateZ(25px) rotateY(270deg);    
    width: 50px;
}

.brc-front
{
    background-color: chartreuse;
    transform: translateZ(50px) translateX(50px);
    width: 50px;    
}


.brc-top-right
{
    transform: translateY(-100%) rotateX(-90deg);   
    border-bottom: 50px solid chartreuse;    
    border-right: 50px solid transparent;  
}

.brc-bottom-right
{
    transform: translateY(-10px) rotateX(-90deg) ;
    border-bottom: 50px solid chartreuse;    
    border-right: 50px solid transparent;
}

.brc-right-right
{
    transform: translateZ(50px) translateX(50px) rotateY(45deg) ;
    transform-origin: left;
    background-color: chartreuse;
    width: 70%;
}

.brc-left-right
{
    background-color: chartreuse;
    transform: translateX(-26px) translateZ(25px) rotateY(270deg);    
    width: 50px;
}

.brc-front-right
{
     background-color: chartreuse;
    transform: translateZ(50px) ;
    width: 50px; 
}

.handle-wall
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: bottom;
    background-color: black; 
}

.handle-top
{
    transform: rotateX(90deg) translateY(40px);
}

.handle-bottom
{
    transform: rotateX(90deg) translateY(40px) translateZ(20px);
}

.handle-back
{
    transform: translateZ(40px);
}

.handle
{
    width: 50%;
    height: 25%;
    position: relative;    
}

#window
{
    flex-grow: 8;
    position: relative;
    border-top: 30px solid;
    border-bottom: 30px solid;
    border-left: 70px solid;
    border-right: 70px solid;
}

#bottom-cover
{
    height: 20%;
}

.top-cooker-door
{
    height: 50px;
    transform: translateY(-50%) translateZ(-25px) rotateX(90deg);
    background-color: yellow;
}

.window-frame
{    
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    transform-origin: center;
    background-color: rgba(0, 0, 0, 0.8);  

}

.stiffener
{
   width: 100%;
   height: 100%;
   position: absolute;
   background-color: chartreuse;
}

.window-left
{
    transform: rotateY(90deg) translateX(25px);
    width: 50px;
    left: -4%;
    
}

.window-right
{
    transform: rotateY(90deg) translateX(25px);
    width: 50px;
    right: -4%;
}

.window-top
{
    transform: rotateX(90deg) translateY(-25px);
    top: -6%;
    height: 50px;
}

.window-bottom
{
    transform: rotateX(90deg) translateY(-25px);
    bottom: -6%;
    height: 50px;
}


/*  BOTTOM SECTION */

.bottom-setcion.wrapper
{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.bttm-section
{
    height: 65%;
    width: 25%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.bttm-section
{
    flex-grow: 8;   
}


#display-bttm.output
{
    background-color: #0c0c0c ;
    width: 90%;
    height: 90%;   
    border-radius: 10px;    
    box-shadow: inset 0 0 2px 3px rgb(15, 15, 15),
                0 0 0 2px #000,
                0 0 0 5px #313131,
                0 0 0 7px #080808,
                0 0 3px 10px #131212,
                0 40px 20px 10px rgba(0, 0, 0, 0.5);    
}

.knob
{    
    height: 80px;
    width: 80px;
    border-radius: 50%;   
    box-shadow: 0px 0px 0px 0px rgba(23, 23, 23, 0.9),
                0 0 10px 1px rgba(15, 15, 15, 0.9),
                0 0 2px 3px rgb(15, 15, 15),                
                inset rgba(38, 38, 38, 0.8) 0 -1px 5px 2px,
                inset rgba(0, 0, 0, 0) 0 0 0px 0,
                inset rgba(255, 255, 255, 0.7) 0  2px 1px 3px, 
                rgba(0, 0, 0, 0.15) 0 -2px 2px 2px,
                rgba(255, 255, 255, 0.5) 0  2px 2px 2px;

    background: repeating-radial-gradient(circle, transparent 0px, transparent 2%, rgba(77, 76, 76, 0.3) 4%),
    repeating-conic-gradient(from 0deg, transparent 0deg 30deg,  rgba(255, 255, 255, 0.3) 30deg 60deg, rgba(252, 247, 247, 0.3) 60deg 90deg);
    transition: box-shadow 0.5s;
    cursor: pointer;
    transform: rotate(0deg);    
}

.knob-shadow
{
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;   
    box-shadow: 0px 0px 0px 0px rgba(23, 23, 23, 0.9),
                0 0 10px 1px rgba(15, 15, 15, 0.9),
                0 0 2px 3px rgb(15, 15, 15),                
                inset rgba(38, 38, 38, 0.8) 0 -1px 5px 2px,
                inset rgba(0, 0, 0, 0) 0 0 0px 0,
                inset rgba(255, 255, 255, 0.7) 0  2px 1px 3px, 
                rgba(0, 0, 0, 0.15) 0 -2px 2px 2px,
                rgba(255, 255, 255, 0.5) 0  2px 2px 2px;

    
}

/* .knob-shadow.unpressed
{
    box-shadow: 0px 20px 10px 0px rgba(23, 23, 23, 0.9),
                0 0 10px 8px rgba(15, 15, 15, 0.9),
                0 0 2px 3px rgb(15, 15, 15),                
                inset rgba(38, 38, 38, 0.8) 0 -1px 2px 2px,
                inset rgba(0, 0, 0, 0.25) 0 -1px 0px 3px,
                inset rgba(255, 255, 255, 0.7) 0  2px 1px 3px, 
                rgba(0, 0, 0, 0.15) 0 -2px 2px 2px,
                rgba(255, 255, 255, 0.5) 0  2px 2px 2px;
    transition: box-shadow 0.7s;   
} */

.knob.unpressed
{
    box-shadow: 0px 20px 10px 0px rgba(23, 23, 23, 0.9),
                0 0 10px 8px rgba(15, 15, 15, 0.9),
                0 0 2px 3px rgb(15, 15, 15),                
                inset rgba(38, 38, 38, 0.8) 0 -1px 2px 2px,
                inset rgba(0, 0, 0, 0.25) 0 -1px 0px 3px,
                inset rgba(255, 255, 255, 0.7) 0  2px 1px 3px, 
                rgba(0, 0, 0, 0.15) 0 -2px 2px 2px,
                rgba(255, 255, 255, 0.5) 0  2px 2px 2px;
    transition: box-shadow 0.5s;   
}

.knob-indicator
{   
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 15px;
    height: 3px;
    border-radius: 25%;
    background: rgba(0, 0, 0, 0.8);
    border: 1px black solid;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5),
               inset 0 0 1px 2px rgba(0, 0, 0, 0.5);
}

.knob-label span
{
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;       
    color: #0c0c0c;
    /* text-shadow: 1px -1px 2px rgba(0, 0, 0, 0.5),
                 1px 1px 2px rgba(0, 0, 0, 0.5),
                 -1px 1px 2px rgba(0, 0, 0, 0.5),
                 -1px -1px 2px rgba(0, 0, 0, 0.5); */
    font-weight: bold;
    letter-spacing: 2px;    
}

#off-label
{
    transform: translate(-82px, -50%)
}

#on-label
{
    transform: translate(50px, -50%)
}

#heat-label
{    
    width: 100%;
    height: 140%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.heat-dot
{
    width: 8px;
    height: 8px;
    position: absolute;
       
    border-radius: 50%;
    background-color: #0c0c0c;
    border: 1px solid black;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5),
                inset 0 0 1px 1px rgba(14, 13, 13, 0.5);
}



#input{
    width: 70%;  
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);    
    display: flex;
    flex-wrap: wrap;   
    justify-content: center;
    align-items: center;
    padding: 25px;
}


/*  INPUT - BUTTONS */
.button{    
    font-size: 2em;
    color: #0c0c0c;
    /* height: calc((100% / 13) - 15px);
    width: calc((100% / 13) - 15px);   */
    height: calc(7% - 10px);
    width: calc(7% - 10px);   
    outline: none;
    margin: 10px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #1b1b1b;
    box-shadow: 0 8px 3px rgba(15, 15, 15, 1),
                inset 0 -2px 5px rgba(0, 0, 0, 1),
                inset 0 2px 2px rgba(255, 255, 255, 0.5),
                0 0 0 2px #000,
                0 0 0 5px #313131,
                0 0 0 7px #080808;
    transition: 0.8s;
}

.button.active{
    color: #00ffe7;
    text-shadow: 0 0 15px #00a1ff,
                 0 0 30px #00a1ff;
    box-shadow: inset 0  2px 5px rgba(0, 0, 0, 0.5),
                inset 0 -2px 5px rgba(0, 0, 0, 0.5),
                inset -2px 0 5px rgba(0, 0, 0, 0.5),
                inset 2px 0 5px rgba(0, 0, 0, 0.5),                
                0 0 2px 2px #000,
                inset 0 0 0 1px #000,
                0 0 0 5px #313131,
                 0 0 0 7px #00ffe7,
                 0 0 15px 8px #00a1ff;
}

/* OUTPUT CUBE */
.wall-text
{    
    position: absolute;
    top: 50%;
    left: 50%;   
    transform: translate(-50%, -50%);  
    color: thistle;
    text-align: center;    
    font-size: 1.8em;
    font-weight: bold;
    color: #0c0c0c;
    text-transform: uppercase;
}

.cube
{    
    transform-style: preserve-3d;
    width: 30px;
    height: 30px;    
    margin-left: 4px;
    margin-right: 4px;   
}

.cube.rotate-cube
{
    animation-name: rotate-cube;
    animation-duration: 1s;
    animation-fill-mode: forwards;    
}

.wall, .inside-wall
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.wall
{
    background: #313131;
     box-shadow:inset 0 0 0px 3px #000000,
                inset 0 0 4px 5px #1a1919;
    border-radius: 25px;        
}

.inside-wall
{
    position: absolute;    
    box-shadow: none;
    background: #1f1e1e;   
}

.wall-front
{     
    transform: translateZ(15px);    
}

.front-inner
{
    transform: translateZ(14px);  
}

.wall-back
{
    transform: translateZ(-15px) rotateZ(-90deg) rotateY(180deg); 
}

.back-inner
{
    transform: translateZ(-14px); 
}

.wall-right
{
    transform: translateX(15px) rotateY(90deg);   
}

.right-inner
{
    transform: translateX(14px) rotateY(90deg);
}

.wall-left
{
    transform: translateX(-15px) rotateY(90deg);  
}

.left-inner
{
    transform: translateX(-14px) rotateY(90deg);
}

.wall-top
{
    transform: translateY(15px) rotateX(90deg);  
}

.top-inner
{
    transform: translateY(14px) rotateX(90deg); 
}

.wall-bottom
{
    transform: translateY(-15px) rotateX(90deg);   
}

.bottom-inner
{
    transform: translateY(-14px) rotateX(90deg); 
}

.inside-wall.x
{
   transform: rotateY(90deg); 
}

.inside-wall.y
{
   transform: rotateX(90deg); 
}

.inside-wall.z
{
   transform: rotateY(0); 
}

.light-on
{
    color: #00ffe7;
    text-shadow: 0 5px 30px #00a1ff,
                 0 0 50px #00a1ff;
}



/* ANIMATIONS */

@keyframes rotate-cube
{
    0%{
        transform: rotate3d(0,0,0,0deg);
    }

    100%{
        transform: rotate3d(1,1,0,180deg);
    }
}

@keyframes rotate-door
{
    0%{
        transform: rotate3d(0,0,0,0deg);
    }

    100%{
        transform: rotate3d(-1,0,0,80deg);
    }
}