*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0 auto;
    background-color: #116466;
    font-family: 'Roboto', sans-serif;
}

#input{
    width: 70%;  
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);    
    display: flex;
    flex-wrap: wrap;
    border: 2px solid yellow;
    justify-content: center;
    align-items: center;
    padding: 25px;
}


/*  INPUT - BUTTONS */
.button{    
    font-size: 2em;
    color: #0c0c0c;
    /* height: calc((100% / 13) - 15px);
    width: calc((100% / 13) - 15px);   */
     height: calc(7% - 15px);
    width: calc(7% - 15px);   
    outline: none;
    margin: 10px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #1b1b1b;
    box-shadow: 0 8px 3px rgba(15, 15, 15, 1),
                inset 0 -2px 5px rgba(0, 0, 0, 1),
                inset 0 2px 2px rgba(255, 255, 255, 0.5),
                0 0 0 2px #000,
                0 0 0 5px #313131,
                0 0 0 7px #080808;
}

.button:active{
    color: #00ffe7;
    text-shadow: 0 0 15px #00a1ff,
                 0 0 30px #00a1ff;
    box-shadow: inset 0  2px 5px rgba(0, 0, 0, 0.5),
                inset 0 -2px 5px rgba(0, 0, 0, 0.5),
                inset -2px 0 5px rgba(0, 0, 0, 0.5),
                inset 2px 0 5px rgba(0, 0, 0, 0.5),                
                0 0 2px 2px #000,
                inset 0 0 0 1px #000,
                0 0 0 5px #313131,
                 0 0 0 7px #00ffe7,
                 0 0 15px 8px #00a1ff;
}

/* OUTPUT CUBE */


.output
{
    /* perspective: 1200px; */
    width: 80%;
    height: 100px;
    border: black solid 5px;
    display: flex;
    justify-content: center;
}

.wall-text
{
    
    position: absolute;
    top: 50%;
    left: 50%;   
    transform: translate(-50%, -50%);  
    color: thistle;
    text-align: center;    
    font-size: 4em;
    font-weight: bold;
    color: #0c0c0c;
}

.cube
{    
    transform-style: preserve-3d;
    animation-name: rotate-cube;
    animation-duration: 5s;    
    width: 60px;
    height: 60px;
    margin: 5px; 
}

.wall, .inside-wall
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;      
}

.wall
{
    background: #313131;
     box-shadow:inset 0 0 0px 3px #000000,
                inset 0 0 4px 5px #1a1919;
    border-radius: 25px;        
}

.inside-wall
{
    position: absolute;    
    box-shadow: none;
    background: #1f1e1e;   
}

.wall-front
{     
    transform: translateZ(30px);    
}

.front-inner
{
    transform: translateZ(29px);  
}

.wall-back
{
    transform: translateZ(-30px); 
}

.back-inner
{
    transform: translateZ(-29px); 
}

.wall-right
{
    transform: translateX(30px) rotateY(90deg);   
}

.right-inner
{
    transform: translateX(29px) rotateY(90deg);
}

.wall-left
{
    transform: translateX(-30px) rotateY(90deg);  
}

.left-inner
{
    transform: translateX(-29px) rotateY(90deg);
}

.wall-top
{
    transform: translateY(30px) rotateX(90deg);  
}

.top-inner
{
    transform: translateY(29px) rotateX(90deg); 
}

.wall-bottom
{
    transform: translateY(-30px) rotateX(90deg);   
}

.bottom-inner
{
    transform: translateY(-29px) rotateX(90deg); 
}

.inside-wall.x
{
   transform: rotateY(90deg); 
}

.inside-wall.y
{
   transform: rotateX(90deg); 
}

.inside-wall.z
{
   transform: rotateY(0); 
}



/* ANIMATIONS */

@keyframes rotate-cube
{
    0%{
        transform: rotate3d(0,0,0,0deg);
    }

    100%{
        transform: rotate3d(1,1,0,360deg);
    }
}

